.messages {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #06a497;
    // height: 100%;

    ul {
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      li {
        margin-right: 4rem;

        .conversation,
        .unread,
        .favourite,
        .ignored {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #c3e9e6;
          font-weight: 500;
          font-size: 1.1rem;

          p {
            margin-top: 1rem;
            margin-left: 0.3rem;
          }
        }
      }
    }

    .close {
      margin-right: 3rem;
      color: #c3e9e6;
      font-weight: 500;
      font-size: 1.5rem;
    }
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;

    .allChats {
      width: 25vw;
      height: 100vh;
      .searchUser {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        form {
          input {
            outline: none;
            border: none;
            border-bottom: 1px solid #c3e9e6;
            width: 80%;
          }

          .search {
            font-size: 2rem;
            color: #e9e9e9;
            font-weight: 700;
          }
        }
      }

      .userChats {
        padding: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .img {
          img {
            width: 50%;
            height: 100%;
            border-radius: 10px;
          }
        }

        .user {
          margin-left: -7rem;
          margin-top: 1rem;
          margin-right: 0.5rem;
          p {
            color: #1baca0;
            font-weight: 500;
            font-size: 1rem;
          }
        }

        .addToFavourites {
          justify-self: flex-end;
          margin-left: 2rem;
        }
      }
    }

    .hr {
      border: 0.5px solid #e9e9e9;
      height: 100vh;
    }
    .liveChats {
      width: 75vw;
      height: 100vh;
      // background-color: #06a497;
    }
  }
}
