.messages {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #06a497;
    // height: 100%;

    ul {
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      li {
        margin-right: 4rem;

        .conversation,
        .unread,
        .favourite,
        .ignored {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #c3e9e6;
          font-weight: 500;
          font-size: 1.1rem;

          p {
            margin-top: 1rem;
            margin-left: 0.3rem;
          }
        }
      }
    }

    .close {
      margin-right: 3rem;
      color: #c3e9e6;
      font-weight: 500;
      font-size: 1.5rem;
    }
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;

    .allChats {
      height: 100vh;
      width: 25vw;
      .searchUser {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        input {
          outline: none;
          border: none;
          border-bottom: 1px solid #c3e9e6;
          width: 80%;
        }

        .search {
          font-size: 2rem;
          color: #e9e9e9;
          font-weight: 700;
        }
      }
    }

    .hr {
      border: 0.5px solid #e9e9e9;
      height: calc(100vh - 70px);
    }
    .liveChats {
      width: 75vw;
      height: calc(100vh - 100px);
      // overflow-y: hidden;

      .liveUser {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 100px);

        .chatBoxTop {
          height: 100%;
          overflow-y: scroll;
          padding-right: 10px;
        }
        .chatBoxTop::-webkit-scrollbar {
          -webkit-appearance: none;
        }

        .chatBoxBottom {
          margin-top: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .chatMessageInput {
            width: 80%;
            height: 90px;
            padding: 10px;
          }
          .chatSubmitBtn {
            width: 70px;
            height: 40px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background: teal;
            color: #fff;
          }
        }
      }
      // background-color: #06a497;
    }
  }
}
