@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.login {
  background-image: url(https://via.placeholder.com/1200x1200);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  .wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      background: #fff;
      padding: 2rem;
      border-radius: 5px;

      h2 {
        text-align: center;
        margin-bottom: 1rem;
      }
      div {
        margin-bottom: 0.8rem;

        input {
          // padding: 0.5rem 1rem;
          font-size: 1.2rem;
          outline: none;
          border: none;
          border-bottom: 1px solid #767676;
        }
      }

      .forgetPassword {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7rem;
        font-weight: 800;
      }

      .login {
        margin-top: 0.5rem;
        button {
          display: block;
          width: 100%;
          background: #06a497;
          padding: 0.5rem 1rem;
          color: #fff;
          outline: none;
          border: 1px solid #06a497;
          border-radius: 5px;
        }
      }
    }
  }
}
